<ion-header>
  <ion-navbar color="danger">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-row>
    <ion-col col-12 padding *ngIf="tasks.length > 0">
      <span text-center>
        <h6>Task</h6>
      </span>

        <p *ngFor="let task of tasks; let i =index"><ion-badge color="danger">{{i + 1}}</ion-badge> {{task.title}} - <ion-note> <ion-icon name="calendar" style="font-size: 18px"></ion-icon> {{task.date}}</ion-note></p>
    </ion-col>
    <ion-col col-6 text-center class="lead" (click)="gotopage(leadpage)">
      <ion-icon name="document"></ion-icon>
      <h6>Lead Management</h6>
    </ion-col>
    <ion-col col-6 text-center class="opportunities" (click)="gotopage(opportunity)">
      <ion-icon name="archive"></ion-icon>
      <h6>Opportunities</h6>
    </ion-col>
    <ion-col col-6 text-center class="account" (click)="gotopage(account)">
      <ion-icon name="person-add"></ion-icon>
      <h6>Account</h6>
    </ion-col>
    <ion-col col-6 text-center class="orders" (click)="gotopage(order)">
      <ion-icon name="clipboard"></ion-icon>
      <h6>Orders</h6>
    </ion-col>
    <ion-col col-6 text-center class="quotes" (click)="gotopage(quote)">
      <ion-icon name="list-box"></ion-icon>
      <h6>Quotes Management</h6>
    </ion-col>
    <ion-col col-6 text-center class="contact" (click)="gotopage(contact)">
      <ion-icon name="contact"></ion-icon>
      <h6>Contact</h6>
    </ion-col>
  </ion-row>

</ion-content>
