page-home {

	ion-icon {
        font-size: 50px;
    }

	.lead{
		height: 200px;
		padding-top: 40px;
		background-color: #3a9adb;
		color: #fff;
	}
	.opportunities{
		height: 200px;
		padding-top: 40px;
		background-color: #67d19d;
		color: #fff;
	}
	.account{
		height: 200px;
		padding-top: 40px;
		background-color: #8c5c82;
		color: #fff;
	}
	.orders{
		height: 200px;
		padding-top: 40px;
		background-color: #f0925e;
		color: #fff;
	}
	.quotes{
		height: 200px;
		padding-top: 40px;
		background-color: #ec7370;
		color: #fff;
	}
	.contact{
		height: 200px;
		padding-top: 40px;
		background-color: #5c85b8;
		color: #fff;
	}

}
